.thumb {
    position: relative;
    overflow: hidden;
}

.thumb__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $portfolio-overlay-color;

    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb__overlay-text {
    color: #FFFFFF;
    line-height: 1.55;
    font-size: 18px;
    letter-spacing: 0.03em;
    width: 322px;
    height: 168px;
    padding-top: 63px;
    padding-left: 24px;
}

.portfolio__card-link:hover .thumb__overlay {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}