.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


    transition: opacity 250ms cubic-bezier(0.4, 0.84, 0.44, 1), visibility 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    background-color: rgba(0, 0, 0, 0.2);
}