.section-features{
    padding-top: 60px;
    padding-bottom: 94px;
    @media screen and (max-width: 1169px) {
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
}
.features__subtitle {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    padding: 0px 0px;
    margin: 0px 0px;
    letter-spacing: 0.03em;
    @include phone{

        width: 480px;
    }
    @include tablet{
        
        width: 354px;
        // text-align: left;
    }
    @include desktop{

        width: 270px;
    }
}


.features__title {
    
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $title-color;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;
    @media screen and (max-width: 767px) {
        
        display: flex;
        justify-content: center;
        
    }
    @include tablet{
        width: 270px;
    
    }
    @include desktop{
        text-align: left;
    }

}
// .pictures-list:not(:last-child){
//     @media screen and (max-width: 767px) {
//         margin-bottom: 30px;
        
//     }
// }
.features__pictures-list {
    padding: 0;
    @include tablet{
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        
    }
    @include desktop{
        display: flex;
        gap: 30px;
        // margin-right: -15px;

        // margin-left: -60px;
        // margin-right: -60px;
        
    }
}

.pictures-list__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        
        margin-bottom: 30px;
    }
    @include tablet{
        width: 354px;
        
        
    }
    @include desktop{
        width: 270px;
        
        
    }

}

.pictures-list__item::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $before-features-bgc;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    @include phone{
        width: 100%;
    }
    @include tablet{
        width: 354px;
    }
    @include desktop{
        max-width: 270px;
    }
}

.weather-radar::before {

    background-image: url(../images/features/antenna.svg);
}

.clock::before {
    background-image: url(../images/features/clock.svg);
}

.laptop::before {
    background-image: url(../images/features/diagram.svg);
}

.spaceman::before {
    background-image: url(../images/features/astronaut.svg);
}




// .pictures-list__item:not(:last-child) {
//     margin-bottom: 30px;
// }