.features__subtitle {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    padding: 0px 0px;
    margin: 0px 0px;
    letter-spacing: 0.03em;
    @include phone{

        width: 480px;
    }
}

.features__title {
        display: flex;
        justify-content: center;
    
    font-size: 14px;
    line-height: 1.14;
    /* padding-top: 92px; */
    margin-bottom: 10px;
    @include phone{
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
    }

}

// .features__pictures-list {
//     display: flex;
    
// }

// .pictures-list__item {
//     width: 270px;
// }

.pictures-list__item::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $before-features-bgc;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    @include phone{
        width: 100%;
    }
}

.weather-radar::before {

    background-image: url(../images/features/antenna.svg);
}

.clock::before {
    background-image: url(../images/features/clock.svg);
}

.laptop::before {
    background-image: url(../images/features/diagram.svg);
}

.spaceman::before {
    background-image: url(../images/features/astronaut.svg);
}




.pictures-list__item:not(:last-child) {
    margin-bottom: 30px;
}