.hero .hero-title {
    letter-spacing: 0.06em;
    margin: 0 auto;

    color: #fff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    @include phone{
        max-width: 360px;
        max-height: 84px;
    
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    @include tablet{
        max-width: 360px;
        max-height: 84px;
    
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    @include desktop{
        min-width: 696px;
        max-height: 120px;
    
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

}
.hero {
    padding: 118px 0px;
    text-align: center;
    height: 400px;
    // /* outline: 5px solid red; */

    background-repeat: no-repeat;
    background-size: cover;
    // background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc), url("../images/overlay.jpg");
    // max-width: 1600px;
    // height: 600px;
    margin: 0 auto;
    // padding: 200px 0;
    background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc), url("../images/header-overlay-phone.jpg");
    background-color: $footer-hero-bgc;
    @media screen and (max-width: 479px) {
        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc) url('../../images/header-mobile-overlay-2x.jpg');
            }
    }
    @include phone{
        max-width: 480px;
        height: 400px;
        background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc), url("../images/header-overlay-phone.jpg");
        background-size: contain;
        background-position: center;
        overflow: hidden;
        
        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc) url('../../images/header-mobile-overlay-2x.jpg');
            }
    }
    @include tablet{
        max-width: 768px;
        height: 400px;
        background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc), url("../../images/header-overlay-tablet.jpg");
        background-size: contain;
        background-position: center;
        overflow: hidden;
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc) url('../../images/header-overlay-tablet-2x.jpg');
        }
    }
    @include desktop{
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc), url("../../images/overlay.jpg");
        background-size: cover;
        overflow: hidden;
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to top, $overlay-bgc, $overlay-bgc) url("../../images/header-overlay-desktop-2x.jpg");
        }
    }
    
}
.hero__button--secondary {
    padding: 10px 32px;


    background-color: $accent-color;
    color: #ffffff;
    line-height: 1.87;
    font-weight: 700;
    min-width: 216px;
    text-align: center;
    letter-spacing: 0.06em;
    border: $accent-color;
    border-radius: 4px;

    @include phone{
        width: 200px;
        height: 50px;
    }
    @include tablet{
        width: 200px;
        height: 50px;
    }
    @include desktop{
        width: 216px;
        height: 50px;
    }


}