.mobile-menu{
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    
    opacity: 0;
    pointer-events: none;
    height: 100%;
    top: 0;
    // width: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;



    width: 100%;
    overflow-y: scroll;
    transition: opacity 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    &.is-open{
        pointer-events: all;
        opacity: 1;
        display: flex;
        @include tablet{
        }
    }
}

.mobile-menu__nav-links{
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: left;
    list-style: none;
}
.nav-linksi-list__item:not(:last-child){
    margin-bottom: 35px;
}
.mobile-menu__contacts-item:not(:last-child){
    margin-bottom: 32px;

}
.mobile-menu__nav-link{
    color: $title-color;
    &:hover,
    &:active,
    &:focus{
        color: $accent-color;
    }
}
.mobile-menu__contacts{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    
}
.mobile-menu__contact-phone{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;

    letter-spacing: 0.02em;
    color: $primary-text-color;
    &:hover,
        &:active,
        &:focus {
            color: $accent-color;
        }
}
.mobile-menu__contact-mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    &:hover,
        &:active,
        &:focus {
            color: $accent-color;
        }
}

.mobile-menu__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mobile-menu__nav-link--current{
    color: $accent-color;
}

.mobile-menu__button {
    border: none;
    background-color: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    &:focus,
    &:active{
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mobile-menu__button--close{
    position: absolute;
    top: 21px;
    right: 25.33px;
    border: none;
    background-color: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    &:focus,
    &:active {
        fill: $accent-color;
    }
}
.mobile-menu__social-links{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}
.social-links__item:not(:last-child){
    margin-right: 10px;
    border-right: 2px solid $menu-affter-color;

}

.social-links__link{
    color: $accent-color;
    padding-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;    
    letter-spacing: 0.02em;

}