.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    background-color: #FFFFFF;

    &__button-close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 9px;
        right: 9px;
        width: 30px;
        height: 30px;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        transition: fill 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
        background-color: #fff;
    
    }
    &__button-close:hover .modal__close-icon,
    &__button-close:active .modal__close-icon,
    &__button-close:focus .modal__close-icon {
        fill: $accent-color;
        border-color: rgba(0, 0, 0, 0.1);
    }
    &__close-icon {
        width: 11px;
        height: 11px;
        fill: #000000;
        transition: fill 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    
    }
    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    
        margin-bottom: 12px;
    
    }
    &__label {
        color: #757575;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    
        margin-bottom: 4px;
    }



}

// .form-feald .name::placeholder {
//     content: "";
//     position: absolute;
//     background-image: url("../images/footer/icon-send.svg");
// }



.modal-container {
    display: flex;
    justify-content: center;
    position: relative;
}



.modal__input-icon {
    position: relative;
    margin-bottom: 10px;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);

    outline: transparent;

    // --webkit-appearance: none;
}

.modal-input:hover,
.modal-input:active,
.modal-inpu:focus {
    border-color: $accent-color;
}

.icon-person,
.icon-phone,
.icon-envelope {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 14px;
    left: 15px;
}

.modal-input:focus + .modal-input__entire-icon {
    fill: $accent-color;
}

.modal-input__entire-icon {
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
}

.modal__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.modal__comment {
    // color: $textarea-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    resize: none;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    padding: 12px 15px;
    outline: transparent;

    &:hover,
    &:active,
    &:focus{
        border-color: $accent-color;
    }

    &::placeholder{
        color: $textarea-color;
    }

}




.modal__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;
    color: #757575;

}


.modal__privasy-agreemant {
    color: $accent-color;
    text-decoration: underline;

    margin-left: 8px;
}

.modal__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

}

.modal__checkbox-icon {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;

    margin-right: 7px;
}

.modal__checkbox:checked ~ .modal__checkbox-icon {
    background-color: $accent-color;
    background-image: url("../images/checkbox/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    border-radius: 2px;
    border: transparent;
    /* border: 0.2px solid #FFFFFF; */
}


.modal__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.modal__button-submit .submit {
    width: 200px;
    height: 50px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}