.team {
    background-color: $bgc-secondary;
    

}

.team-members {
    // display: flex;
    margin: 0;
    padding: 0;
    @include tablet {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        
    }
    @media  screen and (min-width: 768px) and (max-width:1170px){
        flex-wrap: wrap;
        flex-basis: calc((100% - 2 * 15px)/2);
    }
    @include desktop {
        display: flex;
        
        margin-left: -15px;
        margin-right: -15px;
        // margin-right: -15px;

        
    }
    
    
}
.team-members__worker:not(:last-child) {
    @media screen and (max-width: 480px) {
        margin-bottom: 30px;
    }
    @include phone {
        margin-bottom: 30px;
    }
    
    @include desktop{
        margin-right: 30px;
    }

}
.team-members__worker {
    background: #FFFFFF;
    
    
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @include phone {
        max-width: 450px;
        height: 622px;
    }
    @include tablet {
        max-width: 354px;
        height: 536px;
        
    }
    @media screen and (min-width:768px) and (max-width: 1170px) {
        margin: 15px;
    }
    @include desktop {
        max-width: 270px;
        height: 428px;
        margin-right: -15px;
    }

}

.team-card {
    padding: 30px;

    &__heading{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
    }
    &__job{
        color: $primary-text-color;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    }


}
.card-photo__photo{
    width: 450px;
}

// .team-card__heading {
//     margin-bottom: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: var(--title-color);
// }

// .team-card__job {

//     color: var(--primary-text-color);
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     text-align: center;

// }

