.team {
    background-color: $bgc-secondary;


    /* HELP!!!!!!!! Я НЕ РОЗУМІЮ ЧОГО НЕ ПЕРЕЗАПИСУЄТЬСЯ КОЛІР ДЛЯ ЦІЄЇ СЕКЦІЇ, А НАСТЛІДУЄЬБСЯ З body. у тегу 
  .team.bgc специфічність 20, а body - 1 */ 
    @media screen and (min-width: 320px) and (max-width: 786px) {
        width: 100%;
    }

}

.team-members {
    // display: flex;
    margin: 0;
    padding: 0;
}
.team-members__worker:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
}
.team-members__worker {
    background: #FFFFFF;
    min-width: 270px;


    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 320px) and (max-width: 786px) {
        max-width: 450px;
        max-height: 622px;

        margin: 0 auto;
            
    }
}

.team-card {
    padding: 30px;

    &__heading{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
    }
    &__job{
        color: $primary-text-color;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    }


}

// .team-card__heading {
//     margin-bottom: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: var(--title-color);
// }

// .team-card__job {

//     color: var(--primary-text-color);
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     text-align: center;

// }

img{
    width: 100%
}

