.address-links__map {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus{
        color: $accent-color;
    }
}


.address {
    font-style: normal;
    display: flex;
}

.address-links__contact {

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus {
        color: $accent-color;
    }
    

}

.address-links__item {
    margin-top: 9px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;

}

