.footer__logo {
    display: block;
    @media screen and (max-width: 1169px) {
        padding: 0;
        margin-bottom: 20px;
    }

    color: #ffffff;

    &--blue {
        color: $accent-color;

    }
}
.footer__set-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include phone{
        margin-bottom: 60px;
    }
    @media screen and (max-width: 480px) {
        margin-bottom: 60px;
    }
    
    @include desktop{
        margin-right: 0;
    }
    
}

.footer {
    
    background-color: $footer-hero-bgc;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__multi-block{
    
    @include phone{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    @include desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        
    

}


.footer-form {
    // width: 100%;
    // margin-left: auto;


    &__container {
        width: 100%;
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        @include desktop{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            // margin-left: auto;
        }
    }
    &__input {
    
        width:100%;
        height: 50px;
        color: $non-active-form-color;
        background-color: $overlay-bgc;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;

        padding-left: 16px;
        margin-bottom: 20px;
        transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
        @include phone{
            width: 450px;
        }
        @include desktop{
            max-width: 358px;
        }
        // @media screen and (max-width: 480px) {
        //     max-width: 210px;
        //     max-height: 92px;
        // }
    
        &:hover,
        &:active,
        &:focus {
            border: 1px solid $accent-color;
        }
    }
    &__button-subscribe {
        display: block;
        position: relative;
        height: 50px;
        width: 200px;
        margin: 0 auto;
        background-color: $accent-color;
        border-radius: 4px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        @include phone{
            max-width: 200px;
            max-height: 50px;
        }
    
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../images/footer/icon-send.svg');
            margin-left: 12px;
    
        }
        
    }
    &__heading {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    
        color: #FFFFFF;

        @include desktop{
            text-align: left;
        }
    }
    
}
.footer-socials__container{
    @include phone{
        margin-bottom: 60px;
    }
    @media screen and (max-width: 480px) {
        margin-bottom: 60px;
    }
        @include desktop {
            // margin-left: 70px;
        }
}


.footer-socials__button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus{
        background-color: accent-color;
    }
}



.footer-socials>li+li {
    padding-left: 10px;
}

// .footer-form__container {
//     display: flex;
// }

// .footer-form__input {

//     width: 358px;
//     height: 50px;
//     color: $non-active-form-color;
//     background-color: $overlay-bgc;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     outline: none;
// }


// .footer-form__input{
//     padding-left: 16px;
//     transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);

//     &:hover,
//     &:active,
//     &:focus{
//         border: 1px solid $accent-color;
//     }
// }



// .footer-form__button-subscribe {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     height: 50px;
//     width: 200px;
//     margin-left: 12px;

//     background-color: $accent-color;
//     border-radius: 4px;
//     color: #FFFFFF;
//     border: none;
//     cursor: pointer;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.8;
//     letter-spacing: 0.03em;

//     &::after {
//         content: '';
//         width: 24px;
//         height: 24px;
//         background-image: url('../images/footer/icon-send.svg');
//         margin-left: 12px;

//     }
// }



// .footer-form__heading{
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;

//     color: #FFFFFF;
// }