.footer__logo {
    display: block;
    margin-bottom: 20px;

    color: #ffffff;

    &--blue {
        color: $accent-color;

    }
}

.footer {
    background-color: $footer-hero-bgc;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-form {
    margin-left: auto;

    &__container {
        display: flex;
    }
    &__input {
    
        width: 358px;
        height: 50px;
        color: $non-active-form-color;
        background-color: $overlay-bgc;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;

        padding-left: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);
    
        &:hover,
        &:active,
        &:focus {
            border: 1px solid $accent-color;
        }
    }
    &__button-subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50px;
        width: 200px;
        margin-left: 12px;
    
        background-color: $accent-color;
        border-radius: 4px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
    
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../images/footer/icon-send.svg');
            margin-left: 12px;
    
        }
    }
    &__heading {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    
        color: #FFFFFF;
    }
    
}



.footer-socials__button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus{
        background-color: accent-color;
    }
}



.footer-socials>li+li {
    padding-left: 10px;
}

// .footer-form__container {
//     display: flex;
// }

// .footer-form__input {

//     width: 358px;
//     height: 50px;
//     color: $non-active-form-color;
//     background-color: $overlay-bgc;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     outline: none;
// }


// .footer-form__input{
//     padding-left: 16px;
//     transition: border-color 250ms cubic-bezier(0.4, 0.84, 0.44, 1);

//     &:hover,
//     &:active,
//     &:focus{
//         border: 1px solid $accent-color;
//     }
// }



// .footer-form__button-subscribe {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     height: 50px;
//     width: 200px;
//     margin-left: 12px;

//     background-color: $accent-color;
//     border-radius: 4px;
//     color: #FFFFFF;
//     border: none;
//     cursor: pointer;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.8;
//     letter-spacing: 0.03em;

//     &::after {
//         content: '';
//         width: 24px;
//         height: 24px;
//         background-image: url('../images/footer/icon-send.svg');
//         margin-left: 12px;

//     }
// }



// .footer-form__heading{
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;

//     color: #FFFFFF;
// }