.header-contacts {
    display: flex;
    padding-bottom: 0px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @media screen and (max-width: 768px) {
        display: none;
    }
    @include tablet{
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
        

        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    @include desktop{
        display: flex;
        padding: 0;
        
    }

}
.header-contacts__contact-mail{
    @media screen and (min-width: 768px) and (max-width: 1169px){
        margin-bottom: 10px;
    }
    @include desktop{
        margin-right: 30px;
    }
}


.header-contacts__contact-phone,
.header-contacts__contact-mail {
    display: block;

    font-weight: 500;
    

    color: $primary-text-color;
    line-height: 1.17;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active{
        color: $accent-color;
    }
    @include tablet{
        font-size: 12px;
        line-height: 1.16;
        
        
        letter-spacing: 0.02em;
    }
    @include desktop{
        font-size: 14px;
        padding-bottom: 32px;
        padding-top: 32px;
    }
}

.header-contacts__mini-icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    @include tablet{
        width: 14px;
        height: 10px;
        margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 10px;
        margin-right: 10px;
    }
}

.header-contacts__mini-icon--phone {
    width: 12px;
    height: 16px;
    @include tablet{
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
        margin-right: 10px;
    }
}