
header{
    position: relative;
}

    


.logo {
    display: block;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    @media screen and (max-width: 480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @include phone {
        font-size: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @include tablet{
        font-size: 26px;
    }
    @include desktop {
        font-size: 26px;
    }
    
    
}
.header-portfolio {
    // border-bottom: $header-bottom-border;
    border-bottom: 1px solid $header-bottom-border;
}

.header__logo {
    color: var(--second-half-logo);
    

    &--blue{
        color: $accent-color;
    }
    @include phone{
        
    
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: auto;
    }
    @include tablet{
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }
    @include desktop{
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }


}


.mobile-menu__button .button-menu__icon-cross{
    display: none;
}

