.nav {
    display: flex;
    justify-content: space-between;
}    
.nav-links {
    padding-bottom: 0px;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        }


}    
.nav-links__item--current{
    position: relative;
}
.nav-links__item:not(:last-child) {
    margin-right: 50px;
    
    @include tablet{
        margin-right: 53px;
        
    }
}
.nav-links__item--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;

    width: 100%;


    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
}
    
.nav-links__link {
    display: block;

    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-color;
    line-height: 1.17;
    font-size: 14px;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    text-decoration: none;

    &:hover,
    &:active,
    &:focus{
        color: $accent-color;
    }    
}    





