html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


// ВИХОДИТЬ ЦІ КЛАСИ ТЕЖ РЕСЕТ?????

