$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196F3;
$button-color: #212121;
$button-background: #F5F4FA;
$bgc-secondary: #F5F4FA;
$common-bgc: #FFFFFF;
$footer-hero-bgc: #2F303A;
$portfolio-card-border-color: #EEEEEE;
$second-half-logo: #000000;
$address-link-color-footer: #FFFFFF;
$header-bottom-border: #ECECEC;
$card-gap: 30px;
$overlay-bgc: rgba(47, 48, 58, 0.4);
$before-features-bgc: #F5F4FA;
$gray-icons-social: #afb1b8;
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
$work-overlay-color: rgba(47, 48, 58, 0.8);
$non-active-form-color: rgba(255, 255, 255, 0.3);
$textarea-color: rgba(117, 117, 117, 0.5);
